<!DOCTYPE html>
<html>
<head>
  <script src="static/js.js" async></script>
<title>Page Title</title>
<style>
body {
    margin: 0;
    background-color: black;
}

    </style>
</head>
<body>
<h4 style="color:rgba(201, 5, 64, 0.613);" id="Error" a></h4>
<img src="dynamic/img.png" alt="Girl in a jacket" id="img"> 

</body>
</html>